<table class="container-border w-[100%] text-lg ">
  <thead class="container-border ">
    <tr>
      <th td class="pl-[2em]">ID</th>
      <th>Status</th>
      <th>Title</th>
      <th>Priority</th>
      <th>Created</th>
    </tr>
  </thead>
  <tbody class="container-border text-center" *ngFor="let ticket of tickets">
    <tr class="container-border hover:cursor-pointer transform transition-transform hover:scale-105" (click)="onTicketClickHandler(ticket.id)">
      <td class="pl-[2em]" >{{ ticket.id }}</td>
      <td [ngClass]="getStatusClass(ticket.status)">{{ ticket.status }}</td>
      <td>{{ ticket.title }}</td>
      <td [ngClass]="'priority-' + ticket.priority.toLowerCase()">{{ ticket.priority }}</td>
      <td>{{ ticket.createdDate | date:'medium'}}</td>
    </tr>
  </tbody>
</table>